
html {
	font-family: sans-serif;
	font-size: small;
}

main {
	width:  fit-content;
	/*background: blue;*/
	float: left;	
}

#interface {
	width: fit-content;
	float: right;
	position: fixed;
	right: 50px;
}

#controls {
	width : fit-content;
	height:  fit-content;	
	/*float: right;*/
}

.controls-group {
	border: solid 1px;
	padding: 4px;
	margin-bottom: 10px;
	border-radius: 4px;
	background: lightgray;
}

.controls-group .controls-group-title {
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: solid 1px;
	font-size: medium;
	font-weight: bold;
	font-variant: small-caps;
}


#snapshots {
	width: 100%;
	/*height: 100%;*/
	/*background: blue;*/
	/*float: right;*/
}

.snapshot-container {
	display: block;
}

#snapshots button {
	width: 25px;
	height: 25px;
}

#snapshots button.add-snapshot-btn {
	width: 100%;
}

#snapshots button.snapshots-button-load {
	float: left;
}

#snapshots button.snapshots-button-del {
	float: left;
	display: none;
}

.slider-label {
	width:  100px;
	display: inline-block;
}

.slider-display {
	width:  30px;
	display: inline-block;
	text-align: right;
	margin-left: 10px;
	border-radius: 4px;
	border: 1px;
	padding: 2px;
}

#renderer button.renderer-button {
	width: 100%;
}