
/*input {
	display: block;
}*/

main {
	width:  fit-content;
	/*background: blue;*/
	float: left;
}

#interface {
	width: fit-content;
	background: green;
	float: right;
}

#controls {
	width : fit-content;
	height:  fit-content;
	background: red;
	/*float: right;*/
}

#snapshots {
	width: 100%;
	/*height: 100%;*/
	/*background: blue;*/
	/*float: right;*/
}

.snapshot-container {
	display: block;
}

#snapshots button {
	width: 25px;
	height: 25px;
}

#snapshots button.add-snapshot-btn {
	width: 100%;
}

#snapshots button.snapshots-button-load {
	float: left;
}

#snapshots button.snapshots-button-del {
	float: left;
	display: none;
	background-color: red;
}

.slider-label {
	width:  100px;
	display: inline-block;
}

.slider-display {
	width:  50px;
	display: inline-block;
	text-align: right;
}